<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto final</title>
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
            <center><h1>Bienvenido</h1></center>
            
            <div class="row center-align">
                <div class="col s12 m3">
                    <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/agregar.png">
                    </div>
                    <div class="card-content">
                        <p>Agregar un nuevo libro a la base de datos</p>
                    </div>
                    <div class="card-action">
                        <a href="agregar">Agregar libro</a>
                    </div>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/librero.png">
                    </div>
                    <div class="card-content">
                        <p>Enlistar y gestionar todos los libros registrados</p>
                    </div>
                    <div class="card-action">
                        <a href="tabla">Ver libros</a>
                    </div>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/githublogo.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>Ir al Repositorio del proyecto</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Repositorio</a>
                    </div>
                    </div>
                </div>
            </div>
            
    </div>
    <footer>
        <p>Creado por Jose Julian</p>
        <p>Esta pagina solo fue creada por motivos educativos, no se tiene pensado usarlo en negocios</p>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>